:root {
    --lightText: white;
    --greyText: #bdbdbd;
    --darkText: #ffffff;

    --light: #e0e5ec;
    --dark: #181818;
    --darkGradient: radial-gradient(#161616 45%, #161616 25%, #161515);


    --height: 100px;
}

H3 {
    color: white;
    font-size: 30px;
    font-family: "Inter";
    font-style: italic;

    margin-top: 30px;
    margin-bottom: 20px;

    text-align: center;
}

.boxed {
    background-image: var(--darkGradient);

    border: none;
    outline: none;
    box-shadow: 0 0 4px #000000;
}

body {
    background: var(--dark);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    
}

#results {
    width: 85%;
    height: 250px;
    padding-top: 25px;

    border: none;
}

.xpath-input {
    width: 85%;
    border-radius: 6px;

    position: relative;
    overflow: hidden;
    position: flex;
    align-items: center;
}

.xpath-input:focus-within {
    outline: 2px solid #3d3d3d;
    box-shadow: 0px 0px 15px #232323;
}

.textField {
    height: 100px;
    width: 85%;

    color: var(--greyText);
    background-color: transparent;

    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 500;

    border: none;
    outline: none;

    cursor: pointer;

    flex: 1;
    padding: 10px 25px;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.drop {
    width: 100%;
    height: 16px;

    font-size: 16px;
    line-height: 16px;

    padding: 0;
    margin: 0;

    right: 0;
    bottom: 0;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    height: 100px;
    width: 60px;

    color: var(--greyText);
    background-color: transparent;

    border: none;
    outline: none;

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s ease;
}

.icon-button:hover {
    color: #0b2ce2;
}

.icon-button:active {
    color: #1665cc
}



.gradButton {
    color: white;

    background-image: radial-gradient(#0d5ac0 45%, #025bc0 25%, #1232e2);
    
    font-family: 'Lato', sans-serif;
    text-align: center;

    border: none;
    box-shadow: 0 0 4px #000000;
    
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;


    transition: all 0.2s ease;
}

.gradButton:hover {
    background-image: radial-gradient(#1665cc 45%, #1169ce 25%, #0b2ce2);
    transform: translateX(1px)
}
 
.gradButton:active {
    background-image: radial-gradient(#4690f1 45%, #3991e4 25%, #1c58c7);
    right: 1px;
}

.active {
    background-image: radial-gradient(#0d5ac0 45%, #025bc0 25%, #1232e2);
}

.disabled {
    background-image: none;
    background-color: #242424;
    box-shadow: none;
    border: none;
    cursor: not-allowed;
}

.material-symbols-outlined {
    font-size: 100px;
}