body {
    --row-height: 70px;
    --row-background: #161616;
    --copy-background: radial-gradient(#0d5ac0 45%, #025bc0 25%, #1232e2);

    --dark-text: #757575;
    --light-text: #e0e5ec;
    --icon-off: #878787;
    --icon-on: #3d9ff6;
    --dark: #181818
}

.result-row {
    width: 400px;
    background-color: var(--row-background);

    border-radius: 0.25rem;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-row-body {
    height: var(--row-height);
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.result-text {
    color: var(--light-text);
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.result-title {
    font-size: 20px;
    font-family: '', monospace;
    font-weight: 550;
}

.toggle-attributes {
    color: var(--dark-text);
    background-color: transparent;
    border: none;

    font-family: 'inter';

    text-align: left;;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
}

.toggle-attributes .result-icon.material-symbols-outlined {
    line-height: 1;
}

.result-icons {
    gap: 6px;
    padding: 10px 15px 0px 0px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.result-icon {
    color: var(--icon-on);

    filter: drop-shadow(0px 0px 3px #0033ff);
    border: none;
    cursor: help;
}

.result-icon.material-symbols-outlined {
    font-size: 18px;
}

.result-copy {
    color: white;
    background-image: var(--copy-background);

    width: 10%;
    cursor: pointer;

    border: none;
}